<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
	<form action = "login" method ="POST">
        {% csrf_token %}
        <input type='text' name='username'placeholder='username'><br>
        <input type='Password' name='password'placeholder='password'><br>
        <input type='Submit'>
    </form>
    {% for message in message  %}
    <h3> {{message}} </h3>
    {% endfor %}
  </body>
</html>
